<h1><%= @trip.title %></h1>
<h4> Duration: <%= @trip.days_duration %> days</h4>
<h5><%= link_to "Edit Trip", edit_trip_path(@trip) %> - <%= link_to("Delete Trip", trip_path(@trip), method: 'delete' ) %></h5>

<br>
<h2></h2>

<h3> Trip Itineraries: </h3>
<p> <% @trip.itineraries.each do |i| %>
   <%= link_to i.day, trip_itinerary_path(i.trip, i) %>
                  
   </p>
   <% end %>