<h1> <%= @destination.city %>, <%= @destination.country %> </h1>

<h4> <%= @destination.continent %> </h4>
<h4> Primary Language Spoken: <%= @destination.primary_language %> </h4>
<br>
<h2></h2>

<h3> Attractions in <%= @destination.city %>: </h3>
<h5><%= link_to "Add New Attraction", new_destination_attraction_path(@destination) %></h5>
 <% @destination.attractions.each do |a| %>
    <h3><%= link_to a.name, destination_attraction_path(@destination, a) %><br></h3>
    <% end %>

