<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
    <%= button_to "Log in with Google", '/auth/google_oauth2' %>
    <% if logged_in?%>
    <h5>Logged in as <%=current_user.full_name.upcase %><br>
      <%= link_to "Log Out", logout_path, method: 'delete' %></h5><br><br>
    <h4><%= link_to "My Profile", user_path(current_user) %> |
    <%= link_to "All Trips", trips_path %> |
    <%= link_to "All Itineraries", itineraries_path %> |
    <%= link_to "All Destinations", destinations_path %> |
    <%= link_to "All Attractions", attractions_path %></h4>
    
    <% else %>
      <% end %><br><br>
    <%= yield %>
    
  </body>
  <footer class="branding">
     
        <small>&copy; 2020 <strong>Wanderlust</strong></small>
      </footer>
      </div>
</html>

