<!DOCTYPE html>
<html>
  <head>
  <div class='wrapper'>

  <% if logged_in?%>
  <h5>
        <div class="dropdown">
        <button class="dropbtn"><%=current_user.full_name.upcase %></button>
        <div class="dropdown-content">
        <%= link_to "My Profile", user_path(current_user) %>
        <%= link_to "Log Out", logout_path, method: 'delete' %>
          </div>
        </div>
        </h5>
      <% else %>
      <h5>
      <div class="dropdown">
        <button class="dropbtn">Login</button>
        <div class="dropdown-content">
        <%= link_to "Wanderlust Login", login_path %>
        <%= button_to "Google Login", '/auth/google_oauth2' %>
          </div>
        </div>
        </h5>
      <% end %>

  <h6>Wanderlust</h6>
      <h2></h2>
      <h3>
          <%= link_to "Trips", trips_path %> |
          <%= link_to "Destinations", destinations_path %> |
          <%= link_to "Attractions", attractions_path %>
        </h3>





      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>
  </head>

  <body>
  <div class='wrapper'>
 


    <%= yield %>
    
  </body>
  <footer class="branding">
     
        <small>&copy; 2020 <strong>Wanderlust</strong></small>

        
      </footer>
      </div>
</html>

