<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
    <%= link_to "All Trips", trips_path %> |
    <%= link_to "All Itineraries", itineraries_path %> |
    <%= link_to "All Destinations", destinations_path %> |
    <%= link_to "All Attractions", attractions_path %> |
    <%= link_to "My Profile", user_path(current_user) %><br><br>
    <%= yield %>
    </div>
  </body>
</html>

