<h1> <%=@attraction.name %> </h1>

<h4> <%= link_to @attraction.location, destination_path(@attraction.destination) %> </h4><br>
<h2></h2>

<p> Description: <br><br> 
<i><%= @attraction.description %></i> </p>

<br><h2></h2><br>

<p> Comments: </p>

<h5><%= link_to "Post a New Comment", new_attraction_comment_path(@attraction)%></h5>

<% if !@attraction.comments.nil? %>
<% @attraction.comments.each do |c| %>
    <i><%= link_to c.body, attraction_comment_path(@attraction, c) %></i>
    <p> - Posted By <%= c.posted_by%></p>
    <% end %>
<% end %>

